<div class="modal fade" id="modalOpen" tabindex="-1" aria-labelledby="modalOpenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenLabe">Cadastre-se</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-content">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Usuário</label>
                        <input type="text" class="form-control" id="name" aria->

                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="recipient-name">

                        <label for="recipient-name" class="col-form-label">Senha</label>
                        <input type="password" class="form-control" id="recipient-name">

                        <label for="recipient-name" class="col-form-label">Repita a senha</label>
                        <input type="password" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-secondary" data-bs-toggle="modal">Close</button> --}}
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
