<div class="modal fade" id="modalOpen" tabindex="-1" aria-labelledby="modalOpenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpenLabel">Cadastre-se</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-content" action="/register" method="POST">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Usuário</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" type="email" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn-register">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
