<nav>
    <div class="menu">
        <img src="/assets/img/cat.png" alt="">
        <ul class="content-navbar">
            <li class="nav-item">
                <a href="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a href="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalOpen">Register</a>
            </li>
        </ul>
    </div>
</nav>